@model SignInModel
@{
    ViewBag.Title =
    ViewBag.AccountMenuCurrentItem = SharedLocalizer["SignIn"];
    ViewBag.AccountMenuCurrentItemUrl = Context.Request.Path;
}
<script>
    function showHidePasswordValue() {
        if ($("#Password").attr("type") == "password") {
            $("#Password").attr("type", "text");
            $("#password-visibility").attr("src", "@Url.Content("~/img/visible.png")");
        } else {
            $("#Password").attr("type", "password");
            $("#password-visibility").attr("src", "@Url.Content("~/img/hidden.png")");
        }
        $("#Password").focus();
    }
</script>
<h1 class="mg-t-15 text-center">@SharedLocalizer["SignIn"]</h1>
<hr />
@using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { id = "account-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(m => m.EmailOrName)
        <br />
        @Html.Kendo().TextBoxFor(m => m.EmailOrName).HtmlAttributes(new { @maxlength = "100" })
    </div>
    <div class="mg-t-10">
        <div>@Html.LabelFor(m => m.Password)</div>
        <div class="pos-rel">
            @Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new { @maxlength = "100", type = "password" })
            <button type="button" class="k-button pos-abs d-block" id="show-passwords" onclick="showHidePasswordValue()">
                <img id="password-visibility" src="~/img/hidden.png" alt="password visibility" />
            </button>
        </div>      
    </div>
    <div class="mg-t-20 mobile-text-align-right">
        <button type="submit" class="k-button">@SharedLocalizer["Submit"]</button>
    </div>
}